<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Microfrontends Homepage</title>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/document-register-element/1.13.0/document-register-element.js">
    </script> -->
    <script src="http://localhost:3000/dist/bundle_components.js"></script>
    <!-- <script src="http://localhost:3002/dist/bundle_ui.js"></script> -->
  </head>
  <body class="lm">
    <div id="root"></div>
    <script type="text/javascript" src="/dist/bundle.js"></script>
  </body>
</html>
